# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.StyleCop
*.Cache

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.swp
**/obj/*
**/bin/*
*.log
.vs/
SolutionPackage/

# Loc related temp file
/Localize/Temp
/Localize/Extern
*.edb
*.lsp

/src/packages

# Build/tooling output folders
/.tools/
/drop/
**/packages/*
/target/
/.git/
[Oo]bj/
.vs/
/build/include/Environment.targets
/solutions/TypeDefinitions/**/*.d.ts

# MSBuild command line output & other log files
**/msbuild.err
**/msbuild.log
**/msbuild.wrn
*.log

# Diff temp files
*.orig

# Intellij IDEA generated folder
.idea/

# Generated _references.d.ts files
*_references.d.ts

*.dll
*.pdb

#Generated js files 
/solutions/**/**/**/*.js
/solutions/**/**/**/*.map

#Copied webresources after build
/solutions/**/Package/WebResources/
/solutions/**/Solution/WebResources/**/*.js
/solutions/**/Solution/WebResources/**/*.map
/solutions/**/Solution/WebResources/**/*.resx

#stylecop files being generated in project folders after build 
/solutions/**/Client/Settings.StyleCop
/solutions/**/Solution/Settings.StyleCop
/solutions/**/Client.UnitTests/Settings.StyleCop
/solutions/**/Controls/AgentClickToActControl/Settings.StyleCop
/solutions/**/Controls/CustomMultiSelectControl/Settings.StyleCop
/solutions/**/PVSPackage/Settings.StyleCop
/solutions/**/packages/
/solutions/**/**/StyleCop.cache

#files generated by chutzpah
/solutions/**/Client.UnitTests/*.html
/solutions/**/TMP
#ignore Template resx file
/solutions/SmartAssist/Solution/Resources/template_resources.resx