# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.StyleCop
*.Cache

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.swp
**/obj/*
**/bin/*
*.log
.vs/
SolutionPackage/

# Loc related temp file
/tools/Localize/Temp
*.edb
*.lsp

/src/packages

# Build/tooling output folders
/.tools/
/drop/
**/packages/*
/target/
/.git/
[Oo]bj/
.vs/
/build/include/Environment.targets
/solutions/TypeDefinitions/**/*.d.ts

# MSBuild command line output & other log files
**/msbuild.err
**/msbuild.log
**/msbuild.wrn
*.log

# Diff temp files
*.orig

# Intellij IDEA generated folder
.idea/

# Generated _references.d.ts files
*_references.d.ts

*.dll
*.pdb

solutions/TypeDefinitions/CIFramework/

# Generated tsconfig.json files
/src/**/tsconfig.json

#Generated js files 
/solutions/CIFramework/Client/**/*.js
/solutions/CIFramework/Client/**/*.map
/solutions/CIFramework/Client.UnitTests/*.js
/solutions/Agentscript/**/*.js

#Copied webresources after build
/solutions/CIFramework/Package/WebResources/
/solutions/CIFramework/Solution/WebResources/**/*.js
/solutions/CIFramework/Solution/WebResources/**/*.map
/solutions/CIFramework/Solution/WebResources/**/*.resx
/solutions/Macros/Package/WebResources/
/solutions/Macros/Solution/WebResources/**/*.js
/solutions/Macros/Solution/WebResources/**/*.map
/solutions/Macros/Solution/WebResources/**/*.resx

#stylecop files being generated in project folders after build 
/solutions/CIFramework/Client/Settings.StyleCop
/solutions/CIFramework/Solution/Settings.StyleCop
/solutions/CIFramework/Client.UnitTests/Settings.StyleCop
/solutions/CIFramework/Controls/AgentClickToActControl/Settings.StyleCop
/solutions/CIFramework/Controls/CustomMultiSelectControl/Settings.StyleCop
/solutions/CIFramework/PVSPackage/Settings.StyleCop
/solutions/CIFramework/packages/
/solutions/Agentscript/**/StyleCop.cache

#files generated by chutzpah
/solutions/CIFramework/Client.UnitTests/*.html
/solutions/CIFramework/TMP
/solutions/CIFramework/Client/Widget/msdyn_ciLibrary.d.ts
