.CIFToastDiv{
	position: relative;
	display:table;
	background-color: rgba(102, 102, 102, 0.5);
	z-index: 2;
	border-radius: 4px;
	background-color: #003D60;
	padding-bottom: 10px;
	box-shadow: 8px 8px 8px 8px grey;
}
.internalCommunication_CIFToastDiv{
	position: relative;
	display:table;
	background-color: rgba(102, 102, 102, 0.5);
	z-index: 2;
	border-radius: 4px;
	background-color: #25477A;
	padding-bottom: 10px;
}
.header_NotificationType_CIF{
	display:block;
	min-height:21px;
}
.header_NotificationType_CIF_Broadcast{
	display:block;
	min-height:21px;
	background-color:#000000;
}
.header_NotificationType_CIF_notification{
	display:block;
	min-height:21px;
	background-color:#B22912;
}
.header_NotificationType_CIF_transfer{
	display:block;
	min-height:21px;
	background-color:#B22912;
}
.header_NotificationType_CIF_internalCommunication{
	display:block;
	min-height:21px;
	background-color:#000000;
}
.header_CIF{
	display:block;
	min-height:60px;
	background-color:#003D60;
}
.CIFHeaderIcon{
	font-family: CRM MDL2 ASSETS;
	color:#FFFFFF;
	text-align:center;
}
.CIFHeaderIconDiv{
	float:left; 
	margin-left: 10px;
}
.CIFHeaderIconDivCollapsed{
	width:35px; 
	height:35px; 
	float:left; 
	margin-left: 5px;
}
.headerKeyCIF{
	font-family:Segoe UI;
	font-style:normal;
	font-size:12px;
	text-align:left;
	color:#D8D8D8;
}
.headerTimerCIF{
	font-family:Segoe UI;
	font-style:normal;
	font-size:12px;
	text-align:left;
	color:#D8D8D8;
	float:right;
	display:none;
	margin-right:10px;
}
.headerNameCIF{
	font-family:Segoe UI;
	font-style:Semibold;
	font-weight: 600;
	font-size:18px;
	text-align:left;
	color:#FFFFFF;
}
.headerDetailsCIF{
	font-family:Segoe UI;
	font-style:normal;
	font-size:12px;
	text-align:left;
	color:#D8D8D8;
	margin-left:60px;
}
.bodyDivCIF{
	display:block;
	background-color:#003D60;
}
.bodyDivider_CIF{ 
	height:1px; 
	background-color: #F1F1F1;
}
.broadCastLabel1{
	margin-left: 10px;
	font-family:Segoe UI;
	font-style:Semibold;
	font-weight: 600;
	font-size:11px;
	text-align:Left;
	height:13px;
	color:#FFFFFF;
	margin-right:3px;
}
.broadCastLabel2{
	margin-left: 10px;
	font-family:Segoe UI;
	font-style:Regular;
	font-size:11px;
	text-align:Right;
	height:13px;
	color:#FFFFFF;
}
.notificationSpan{
	width:12px; 
	height:12px; 
	font-style:Regular; 
	font-size:12px; 
	text-align:Left; 
	float:left; 
	margin-right:10px;
	margin-left: 10px;
	font-family: CRM MDL2 ASSETS;
	color:#FFFFFF;
}
.notificationLabel{
	font-family:Segoe UI;
	font-style:Semibold;
	font-weight: 600;
	font-size:11px;
	text-align:Left;
	height:13px;
	color:#FFFFFF;
}
.transferLabel{
	margin-left: 10px;
	font-family:Segoe UI;
	font-style:Semibold;
	font-weight: 600;
	font-size:11px;
	text-align:Left;
	height:13px;
	color:#FFFFFF;
}
.internalCommunicationSpan{
	width:12px; 
	height:12px; 
	font-style:Regular; 
	font-size:12px; 
	text-align:Left; 
	float:left; 
	margin-right:10px;
	margin-left: 10px;
	font-family: CRM MDL2 ASSETS;
	color:#FFFFFF;
}
.internalCommunicationLabel{
	font-family:Segoe UI;
	font-style:Semibold;
	font-weight: 600;
	font-size:11px;
	text-align:Left;
	height:13px;
	color:#FFFFFF;
}
.body_CIFLabel1{
	display: inline-table;
	margin-left: 10px;
	font-family:Segoe UI;
	font-style:normal;
	font-size:14px;
	text-align:left;
	height:16px;
	margin-right:11px;
	word-wrap:break-word;
	color:#D8D8D8;
}
.body_CIFLabel2{
	font-family:Segoe UI;
	font-style:Semibold;
	font-weight: 600;
	font-size:14px;
	text-align:left;
	height:16px; 
	color:#FFFFFF;
	display: inline-block;
	position: absolute;
	height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
.body_CIFLabel2_mouseover{
	font-family:Segoe UI;
	font-style:Semibold;
	font-weight: 600;
	font-size:14px;
	text-align:left;
	height:16px;
	color:#FFFFFF;
	display: inline-table;
	height: auto;
	white-space: normal;
	overflow: visible;
}
.body_CIFLabel2_mouseout{
	font-family:Segoe UI;
	font-style:Semibold;
	font-weight: 600;
	font-size:14px;
	text-align:left;
	height:16px; 
	color:#FFFFFF;
	display: inline-block;
	position: absolute;
	height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
.bodyDivider_CIF_invisible{
	height:1px; 
	background-color: #F1F1F1; 
	display:none;
}
.bothButtonsAccept_CIF{
	background-color:#47C21D;
	height:40px;
	margin-left: 10px;
	border-color: #47C21D;
}
.singleButtonAccept_CIF{
	background-color:#47C21D;
	height:40px;
	margin-right:14px;
	margin-left: 10px;
	border-color: #47C21D;
}
.bothButtonsReject_CIF{
	background-color:#EA0600;
	height:40px;
	margin-left: 10px;
	border-color: #EA0600;
}
.singleButtonReject_CIF{
	background-color:#EA0600;
	height:40px;
	margin-right:14px;
	border-color: #EA0600;
}
.acceptButtonSpan_CIF{
	width:16px; 
	height:16px; 
	float:left; 
	font-style:Regular; 
	font-size:16px; 
	text-align:Left;
	font-family: CRM MDL2 ASSETS;
	color:#FFFFFF;
}
.rejectButtonSpan_CIF{
	width:16px; 
	height:16px; 
	float:left; 
	font-style:Regular; 
	font-size:16px; 
	text-align:Left;
	font-family: CRM MDL2 ASSETS;
	color:#FFFFFF;
}
.timeOutCIF{
	display:none;
}
.displayBlockCIF{
	display:block;
}
.actionDisplayText_CIF{
	height:16px; 
	font-style:Semibold; 
	font-weight: 600;
	font-family:Segoe UI; 
	font-size:14px; 
	color:#FFFFFF;
}
.CIFSoftNotificationToast{
	position:relative;
	display:table;
	box-shadow: 4px 0 2px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	background-color: #333333;
}
.headerSoftNotification_CIF{
	display:block;
	min-height:21px;
	margin-right:10px;
}
.bodyDivSoftToast_CIF{
	display:block;
}
.chatWindowHeaderSpan_CIF{
	width:16px; 
	height:16px; 
	font-style:Regular; 
	font-size:12px; 
	text-align:Left; 
	float:left; 
	margin-right:10px;
	margin-left: 10px;
	font-family: CRM MDL2 ASSETS;
	color:#FFFFFF;
}
.chatWindowHeaderLabel_CIF{
	font-family:Segoe UI;
	font-style:Semibold;
	font-weight: 600;
	font-size:14px;
	text-align:Left;
	height:16px;
	color:#FFFFFF; 
}
.closeSoftNotification_CIF{
	font-family: CRM MDL2 ASSETS;
	color:#FFFFFF;
	float:right;
	margin-right:10px;
}
.chatWindowHeaderDiv_CIF{
	height:11px;
}
.notificationBodyCIF{
	display: inline-table;
	margin-left: 10px;
	font-family:Segoe UI;
	font-style:normal;
	font-size:14px;
	text-align:left;
	color:#D8D8D8;
}
.notificationBodyLabel1_CIF{
	display: inline-table;
	margin-left: 10px;
	font-family:Segoe UI;
	font-style:normal;
	font-size:14px;
	text-align:left;
	height:16px;
	margin-right:11px;
	word-wrap:break-word;
	color:#D8D8D8;
}
.notificationBodyLabel2_CIF{
	font-family:Segoe UI;
	font-style:Semibold;
	font-weight: 600;
	font-size:14px;
	text-align:left;
	height:16px;
	word-wrap:break-word;
	color:#FFFFFF;
	display:inline-table;
}
.notesDivCIF{
	position: relative;
	display:table;
	background-color: rgba(102, 102, 102, 0.5);
	z-index: 2;
	border-radius: 4px;
	padding-bottom: 10px;
	min-height: 120px;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #E5E5E5;
}
.notesHeaderCIF{
	color: #333333;
	font-family: Segoe UI;
	font-size: 16px;
	line-height: 19px;
	font-style: Semibold;
	font-weight: 600;
}
.newTextAreaCIF{
	margin-left: 20px;
	background-color: #FFFAE9;
}
.notesSaveButtonCIF{
	float: right;
	color: #FFFFFF;
	background-color: #315FA2;
	font-style: Semibold;
	font-weight: 600;
	font-family: Segoe UI;
	font-size: 12px;
	line-height: 14px;
	height: 28px;
	margin-right: 20px;
	border-color: #315FA2;
}
.notesCancelButtonCIF{
	float: right;
	color: #315FA2;
	font-style: Semibold;
	font-weight: 600;
	font-family: Segoe UI;
	font-size: 12px;
	line-height: 14px;
	height: 28px;
	margin-right: 12px;
	margin-top: 10px;
	text-decoration: none;
}
.closeNotes_CIF{
	font-family: CRM MDL2 ASSETS;
	color:#333333;
	float:right;
	margin-right:10px;
}
.hardNotificationLabel2{
	font-family:Segoe UI;
	text-align:left;
	color:#FFFFFF;
	font-style: Normal, Negreta;
	font-size: 14px;
	line-height: 16px;
}
@font-face{font-family:"CRMMDL2";src:url('/uclient/resources/styles/CRMMDL2.woff') format('woff');font-weight: normal;font-style: normal;}
.FontIcons-closeSoftNotification_CIF:before {font-family: "CRMMDL2"; content: "\E711";}
.FontIcons-rejectHardNotification_CIF:before {font-family: "CRMMDL2"; content: "\E711";}
.FontIcons_acceptButtonSpan_CIF:before {font-family: "CRMMDL2"; content: "\E73E";}
.FontIcons_internalCommunicationSpan:before {font-family: "CRMMDL2"; content: "\E77B";}
.FontIcons_notificationSpan:before {font-family: "CRMMDL2"; content: "\EA8F";}
.FontIcons_escalationSpan:before {font-family: "CRMMDL2"; content: "\E7BA";}
.FontIcons_CIFHeaderIcon:before {font-family: "CRMMDL2"; content: "\E8F2";}
.FontIcons_chatWindowHeaderSpan_CIF:before {font-family: "CRMMDL2"; content: "\E8F2";}
.FontIcons_smsWindowHeaderSpan_CIF:before {font-family: "CRMMDL2"; content: "\E715";}