.MainDiv
{
	right: 5px; 
	position: fixed;
	bottom: 5px; 
	font-family: undefined;
}

div#PresenceList
{
	display:none;
}

button#CurrentStatus
{
	float:right;
}

.ColorNode
{
	height:16px;
	width:16px;
	border-radius: 50%;
	float:left;
}

.TextNode
{
	text-align: left;
	overflow: auto;
	font-size: 10px;
	font-family: 'Segoe UI';
	font-style: normal;
	line-height: 13px;
	margin-left: 2px;
	overflow: hidden;
}

.AgentPresenceDiv
{
	position: fixed;
	bottom: 5px;
	display: inline-block;
	background-color: #FFFFFF;
	right: 0;
	width: 34px;
}

.innerDiv {
	height: 28px;
	width: 28px;
}

.UserImageNode
{
	border-radius: 50%;
	height: 24px;
	width: 24px;
}

.AgentPresenceColorNode
{
	border-radius: 50%;
	width: 11px;
	height: 11px;
	position: absolute;
	right: 7px;
	bottom: 13px; /* This should be the height of the text below */
}

.PresenceListItem 
{
	height: 35px;
}

.PresenceListItem .ColorNode
{
	vertical-align: middle;
}

.PresenceListItem .TextNode
{
	font-size: 14px;
	height: 35px;
	vertical-align: middle;
	padding-left: 7px;
}

.PresenceListInnerNode:first-child
{
	padding-top: 10px;
}

.PresenceListInnerNode
{
	background-color: #FFFFFF;
	position: fixed;
	right: 40px;
	bottom: 0px;
	width: 191px;
	padding: 5px;
	box-shadow: -2px -2px 10px grey;
}