:root {
	--sessionPanelAreaWidth: 36px;
	--flapAreaWidth: 0px;
	--widgetAreaWidth: calc(100% - var(--sessionPanelAreaWidth) - var(--flapAreaWidth) - 2px);
}

div#PresenceList
{
	display:none;
}

.ColorNode
{
	height:12px;
	width:12px;
	border-radius: 50%;
	vertical-align: middle;
}

.textNode
{
	overflow: auto;
	font-size: 10px;
	font-family: 'Segoe UI';
	font-style: normal;
	line-height: 13px;
	overflow: hidden;
}

.agentPresenceDiv
{
	background-color: #FFFFFF;
	padding: 5px 0px;
}

.innerDiv {
	display: flex;
	height: 28px;
	width: 28px;
	margin: auto;
}

.backgroundColorDiv {
	height: 28px;
	width: 28px;
	background-color: #315FA2;
	border-radius: 50%;
	text-align: center;
}

[dir='ltr'] .backgroundColorDiv
{
	right: 2px;
}

[dir='rtl'] .backgroundColorDiv
{
	left: 2px;
}

.agentPresenceDiv .textNode 
{
	width: 30px;
	margin: 2px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.userImageNode
{
	height: 14px;
	width: 14px;
	position: relative;
	top: 6px;
	filter: invert(100%);
}

.agentPresenceColorNode
{
	border-radius: 50%;
	border: 2px solid white;
	width: 10px;
	height: 10px;
	position: absolute;
	margin-top: 18px;
}

[dir='ltr'] .agentPresenceColorNode
{
	right: 1px;
}

[dir='rtl'] .agentPresenceColorNode
{
	left: 1px;
}

.widgetArea
{
	width: calc(var(--widgetAreaWidth));
	height: calc(100% - 10px);
	position: absolute;
}

[dir='ltr'] .widgetArea
{
	right: calc(var(--sessionPanelAreaWidth));
}

[dir='rtl'] .widgetArea
{
	left: calc(var(--sessionPanelAreaWidth));
}

.widgetControl 
{
	height: 100%;
}

.flexJustify
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sessionPanel
{
	background-color: #EFEFEF;
	width: calc(var(--sessionPanelAreaWidth) - 2px);
	position: fixed;
	height: calc(100% - 10px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

[dir='ltr'] .sessionPanel
{
	right: 0px;
}

[dir='rtl'] .sessionPanel
{
	left: 0px;
}

.uiSessions
{
	display: flex;
	flex-direction: column;
}

.uiSession
{
	height: 50px;
	cursor: pointer;
	background-color: transparent;
}

.iconCircle
{
	width: 26px;
	height: 26px; 
	border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	margin: 0px 4px;
}

.initials
{
	position: relative;
	top: 3px;
	font-size: 14px;
	line-height: normal;
	color: #fff;
	font-family: Segoe UI;
}

.crossIconFont
{
	font-size: 20px;
	color: #BF0900;
}

.PresenceListItem 
{
	display: flex;
	height: 28px;
}

.PresenceListItem .textNode
{
	font-size: 14px;
	vertical-align: middle;
}

[dir='ltr'] .PresenceListItem .textNode
{
	padding-left: 7px;
}

[dir='rtl'] .PresenceListItem .textNode
{
	padding-right: 7px;
}

.PresenceListInnerNode:first-child
{
	padding-top: 10px;
}

.PresenceListInnerNode
{
	background-color: #FFFFFF;
	position: fixed;
	bottom: 10px;
	width: 191px;
	padding: 5px;
}

[dir='ltr'] .PresenceListInnerNode
{
	right: 40px;
	box-shadow: -2px -2px 10px grey;
}

[dir='rtl'] .PresenceListInnerNode
{
	left: 40px;
	box-shadow: 2px -2px 10px grey;
}

.notesDiv
{
	top:0px;
}

[dir='ltr'] .notesDiv
{
	left: 0px;
}

[dir='rtl'] .notesDiv
{
	right: 0px;
}