<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <ServerAddress>https://omnichanneltester001.api.crm10.dynamics.com</ServerAddress>
    <OrganizationName>CITTEST</OrganizationName>
    <DiscoveryUri>https://omnichanneltester001.api.crm10.dynamics.com/XRMServices/2011/Discovery.svc</DiscoveryUri>
    <OrganizationUri>https://omnichanneltester001.api.crm10.dynamics.com/CITTEST/XRMServices/2011/Organization.svc</OrganizationUri>
    <EndpointType>ActiveDirectory</EndpointType>
    <UserPrincipalName />
    <Credentials>
      <UserName></UserName>
      <Domain>https://omnichanneltester001.api.crm10.dynamics.com</Domain>
      <Password></Password>
    </Credentials>
  <configSections>
    <section name="projectLoaderShortcuts" type="Microsoft.OneFarmArchitect.Version3.Clients.Windowed.ProjectLoaderShortcutsHandler,TA.WindowedClient" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TALogger" publicKeyToken="fc727eff5e0ebe4a" />
        <!-- Redirect the old version of the assembly to the new version. -->
        <bindingRedirect oldVersion="2.0.0.0 - 3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
  <appSettings>
    <add key="AuthenticationType" value="AD" />
    <add key="SatPlatform" value="Desktop" />
    <add key="ClientMode" value="CrmTabletApp" />
    <add key="BrowserToLaunch" value="Chrome" />
    <add key="OutlookVersion" value="None" />
    <add key="DeploymentType" value="OnPremise" />
    <add key="Language" value="random" />
    <add key="ProxyConfiguration" value="{ BindingUseDefaultWebProxy = 'False' }" />
    <add key="BackEndServiceEnabled" value="True" />
    <!-- Authentication Information -->
    
    <add key="OrganizationFriendlyName" value="organizationName" />
    <add key="OrganizationName" value="organizationName" />
    <!-- These values are used in the OrganizationManagementLib when orgs are requested by numerical index -->
    <!-- (e.g. IOrgs.GetOrg(1) will return org2). -->
    <add key="Organizations" value="{{UniqueName='organizationName'}}" />
	
	<add key="AdminName" value="" />
    <add key="AdminPassword" value="" />

    <add key="UserName" value="" />
    <add key="UserPassword" value="" />

    <!-- AD Credentials Required for All Deployment Types -->
    <!-- These values are used to interact directly with the server boxes -->
    <add key="ServerDomain" value="domainName" />
    <add key="ServerUserName" value="" />
    <add key="ServerPassword" value="" />

	<add key="ClientPortalUrl" value="https://oneclickocportal.microsoftcrmportals.com" />
    <add key="ClientPortalUserName" value="" />
    <add key="ClientPortalPassword" value="" />
	
    <!-- AD / IFD Specific -->
    <add key="AdminDomain" value="domainName" />
    <add key="UserDomain" value="domainName" />

    <!-- Online Specific -->
    <!-- Usually the same as the root RootDiscoveryServiceUrl (excluding the "dev.") -->
    <add key="CrmLiveSite" value="crm.crmlivetoday.com" />
    <add key="Environment" value="INT" />

    <!-- URLS & Server Names -->
	<!--<add key="RootDiscoveryServiceUrl" value="http://aurora94017.aurora94017dom.extest.microsoft.com/CITTest/main.aspx?appid=e7be263f-f6eb-e811-8158-000d3afddb94" />-->
    <add key="RootDiscoveryServiceUrl" value="https://omnichanneltester001.crm10.dynamics.com" />
    <!-- Passport: <add key="RootDiscoveryServiceUrl" value="http://dev.crm.crmlivetoday.com/" /> -->
    <add key="SRSWebService" value="http://serverName/reportserver/ReportService.asmx" />
    <add key="ServerName" value="serverName" />
    <add key="ExchangeServerName" value="serverNameDC" />

    <!-- Passport: <add key="ServerConfig" value="Live INT" /> -->

  </appSettings>
  <projectLoaderShortcuts>
    <add key="UtfAssemblyLoader" value="CtrlA" />
    <add key="UnitOneFarmSuiteLoader" value="CtrlL" />
    <add key="UnitOneFarmCaseLoader" value="CtrlC" />
    <add key="PsWsIdLoader" value="CtrlG" />
    <add key="PsqWsLoader" value="CtrlQ" />
  </projectLoaderShortcuts>

</configuration>
