<?xml version="1.0" encoding="utf-8" ?>
	<configuration>
		<configSections>
			<section name="projectLoaderShortcuts" type="Microsoft.OneFarmArchitect.Version3.Clients.Windowed.ProjectLoaderShortcutsHandler,TA.WindowedClient" />
		</configSections>
		<runtime>
			<assemblyBinding
				xmlns="urn:schemas-microsoft-com:asm.v1">
				<dependentAssembly>
					<assemblyIdentity name="TALogger" publicKeyToken="fc727eff5e0ebe4a" />
					<!-- Redirect the old version of the assembly to the new version. -->
					<bindingRedirect oldVersion="2.0.0.0 - 3.1.0.0" newVersion="3.1.0.0" />
				</dependentAssembly>
			</assemblyBinding>
			<legacyUnhandledExceptionPolicy enabled="1" />
		</runtime>
		<appSettings>
			<add key="OrgAdminUserName" value="user1@devtesttie.ccsctp.net" />
			<add key="OrgAdminPassword" value="" />
			<add key="OrgUniqueName" value="" />
			<add key="ServerAddress" value="https://monti1tiecrmlivesg2505org0.api.crm2.crmlivetie.com" />
			<!--http://Aurora83501.Aurora83501dom.extest.microsoft.com -->
			<add key="EndpointType" value="ActiveDirectory" />
			<add key="AuthenticationType" value="AD" />
			<add key="BrowserToLaunch" value="chrome" />
		</appSettings>
		<projectLoaderShortcuts>
			<add key="UtfAssemblyLoader" value="CtrlA" />
			<add key="UnitOneFarmSuiteLoader" value="CtrlL" />
			<add key="UnitOneFarmCaseLoader" value="CtrlC" />
			<add key="PsWsIdLoader" value="CtrlG" />
			<add key="PsqWsLoader" value="CtrlQ" />
		</projectLoaderShortcuts>
	</configuration>