<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="packageDeployment" type="Microsoft.Xrm.Sdk.Test.PackageImport, Microsoft.Xrm.Sdk.Test"/>
  </configSections>
  <packageDeployment>
    <packageConfigurations>
      <add packageType="Solution" solutionUniqueName="msdyn_ProductivityPaneControl" solutionFileName="msdyn_ProductivityPaneControl_managed.cab" importOverExistingSolution="false"/>
    </packageConfigurations>
  </packageDeployment>
  <appSettings>
    <add key="SolutionUniqueName" value="msdyn_ProductivityPaneControl"/>
    <add key="SolutionDevelopmentFullPath" value="%WSRoot%\drop\%BuildConfiguration%\%BuildPlatform%\Solutions\"/>
    <add key="xunit.shadowCopy" value="false"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="SATDrivers"/>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="6.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
